<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.realizedmobile.PinterestPlugin" version="1.0.0">
	<name>PinterestPlugin</name>
	<description>Cordova plugin that handles Pinterest integration in mobile apps.</description>
	<author>RealizedMobile</author>
	<keywords>pinterest,cordova,realizedmobile</keywords>
	<license>Apache 2.0 License</license>
	<engines>
		<engine name="cordova" version=">=3.0.0"/>
	</engines>
	<js-module src="www/pinterest.js" name="PinterestPlugin">
		<clobbers target="PinterestPlugin"/>
	</js-module>
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PinterestPlugin">
				<param name="android-package" value="com.realizedmobile.pinterestplugin.PinterestPlugin"/>
			</feature>
		</config-file>
		<source-file src="src/android/libs/pdk.aar" target-dir="libs" framework="true" />
		<source-file src="src/android/PinterestPlugin.java" target-dir="src/com/realizedmobile/pinterestplugin/" />
	</platform>
	<platform name="amazon-fireos">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PinterestPlugin">
				<param name="android-package" value="com.realizedmobile.pinterestplugin.PinterestPlugin"/>
			</feature>
		</config-file>
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<source-file src="src/android/libs/pdk.aar" target-dir="libs" framework="true" />
		<source-file src="src/android/PinterestPlugin.java" target-dir="src/com/realizedmobile/pinterestplugin/" />
	</platform>
	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="PinterestPlugin">
				<param name="ios-package" value="PinterestPlugin"/>
			</feature>
		</config-file>
		<framework src="SafariServices.framework" weak="true" />
		<framework src="src/ios/AFNetworking.framework" custom="true" embed="true" />
		<framework src="src/ios/SAMKeychain.framework" custom="true" embed="true" />
		<header-file src="src/ios/PinterestPlugin.h"/>
		<source-file src="src/ios/PinterestPlugin.m"/>
		<header-file src="src/ios/ios-pdk/Pod/Classes/PDKBoard.h"/>
		<source-file src="src/ios/ios-pdk/Pod/Classes/PDKBoard.m"/>
		<header-file src="src/ios/ios-pdk/Pod/Classes/PDKCategories.h"/>
		<source-file src="src/ios/ios-pdk/Pod/Classes/PDKCategories.m"/>
		<header-file src="src/ios/ios-pdk/Pod/Classes/PDKClient.h"/>
		<source-file src="src/ios/ios-pdk/Pod/Classes/PDKClient.m"/>
		<header-file src="src/ios/ios-pdk/Pod/Classes/PDKImageInfo.h"/>
		<source-file src="src/ios/ios-pdk/Pod/Classes/PDKImageInfo.m"/>
		<header-file src="src/ios/ios-pdk/Pod/Classes/PDKInterest.h"/>
		<source-file src="src/ios/ios-pdk/Pod/Classes/PDKInterest.m"/>
		<header-file src="src/ios/ios-pdk/Pod/Classes/PDKModelObject.h"/>
		<source-file src="src/ios/ios-pdk/Pod/Classes/PDKModelObject.m"/>
		<header-file src="src/ios/ios-pdk/Pod/Classes/PDKPin.h"/>
		<source-file src="src/ios/ios-pdk/Pod/Classes/PDKPin.m"/>
		<header-file src="src/ios/ios-pdk/Pod/Classes/PDKResponseObject.h"/>
		<source-file src="src/ios/ios-pdk/Pod/Classes/PDKResponseObject.m"/>
		<header-file src="src/ios/ios-pdk/Pod/Classes/PDKUser.h"/>
		<source-file src="src/ios/ios-pdk/Pod/Classes/PDKUser.m"/>
		<header-file src="src/ios/ios-pdk/Pod/Classes/PinterestSDK.h"/>

		<hook type="after_plugin_install" src="hooks/resolveDependencies.js" />
		<hook type="after_platform_add" src="hooks/resolveDependencies.js" />
		<!-- http://stackoverflow.com/questions/36650522/custom-cordova-plugin-add-framework-to-embedded-binaries -->
		<hook type="after_build" src="hooks/add_embedded.js" />
	</platform>
</plugin>
